<div class="container-fluid p-0">
  <header class="d-flex justify-content-between bg-dark text-light font-weight-bold">
    <h1>BIENVENIDO UTN</h1>
    <nav class="nav navbar bg-dark text-light">      
      <li class="nav-item">
        <!--EL ENRUTAMIENTO LO LLEVARA AL COMPONENTE ProyectosComponentComponent-->
        <a class="nav-link text-light" href="/bienvenido">Bienvenido</a>
      </li>
      <li class="nav-item">
        <!--EL ENRUTAMIENTO LO LLEVARA AL COMPONENTE ProyectosComponentComponent-->
        <a class="nav-link text-light" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <!--EL ENRUTAMIENTO LO LLEVARA AL COMPONENTE ProyectosComponentComponent-->
        <a class="nav-link text-light" href="/registrar">Registrar</a>
    </li>
    <li class="nav-item">
      <!--EL ENRUTAMIENTO LO LLEVARA AL COMPONENTE ProyectosComponentComponent-->
      <a class="nav-link text-light" href="/error">Error</a>
    </li>    
  </nav>
</header>
  


  <!--
    <button routerLink="/">Home</button>    
    <button routerLink="/bienvenido">Bienvenido</button>
    <button routerLink="/login">Login</button>
    <button routerLink="/registrar">Registrar</button>
    <button routerLink="/error">Error</button>
  --> 
  
  
  
  <router-outlet></router-outlet>
  
</div>